.card {
	width: 115px;
	height: 76px;
	font-size: .9em;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

.green {
	background: #a1cb9e;
}

.blue {
	background: #92bbbd;
}

.yellow {
	background: #f9e592;
}

.white {
	background: #fff;
}

.red {
	background: #dba19e;
}

.content {
	overflow: scroll;
	display: block;
	width: 86px;
	height: 45px;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 10px;
	line-height: 1;
	color: #333;
	text-align: left;
	padding: 0.667em;
}

.card-icon {
	opacity: .1;
	position: absolute;
	top: 3%; right: 3%;
	width: 8px;
	height: 8px;
	transition: opacity 100ms ease;
	color: black;
}

.card:hover .card-icon {
	opacity: 1;
}

.card-edit-form, .card-edit-form input, .card-edit-form textarea,
.column-edit-form, .column-edit-form input, .column-edit-form textarea {
	border: none;
	font-size: inherit;
	font-weight: inherit;
	background-color:inherit;
	font-family: inherit;
	padding: 0;
	margin: 0;
	outline-width:0;
	overflow: hidden;
	resize: none;
	width: 100%;
	color: #666;
}

.column-edit-form, .column-edit-form input, .column-edit-form textarea {
	text-align: center;
}

.card-edit-form, .card-edit-form input, .card-edit-form textarea {
	font-size: 1em;
	line-height: 1;
	font-weight: bold;
}
