div#board
	table#board-table.board-table
		tr
			td#icon-col(width='1%')
				image#add-col.col-icon(width='20', height='20', src='/images/icons/iconic/raster/black/plus_alt_32x32.png')
				image#delete-col.col-icon(width='20', height='20', src='/images/icons/iconic/raster/black/minus_alt_32x32.png')

div.buttons
	image#create-card.bottom-icon(width="24", height="24", src="/images/icons/iconic/raster/black/plus_alt_24x24.png")